body {
  background-color: grey;
}

.title {
  font-size: 70px;
  text-align: center;
}

/*.outer-circle {
  background: black;
  border-radius: 50%;
  height: 700px;
  width: 700px;
  position: relative;
}*/

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin:auto;
}

.panel {
  border: 5px solid black;
  border-radius: 40px;
  display: inline-block;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

.green {
  background-color: #0CF72B;
}

.red {
  background-color: #FF0000;
}

.yellow {
  background-color: #EEFF00;
}
.blue {
  background-color: #0050FF;
}

button {
  color: white;
  background-color: black;
  border-radius: 50px;
  font-size: 15px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin:auto;
  position:relative;
  bottom: 375px;
}
